
<h2>Weather</h2>
<label for="zip">Enter ZIP Code:</label><br/>
<input type = "text" name = "zip" id="Userzip" placeholder = "ZIP code"> 

<button (click)="weatherFunction()"id="weatherButton" type="button">Submit</button>

<h3 *ngIf="weatherInfo">Location: {{weatherInfo.location.city}}, {{weatherInfo.location.region}}</h3>

<div class="weatherforecast-list" *ngIf="weatherInfo">
  <div class="break">
    <div class="card-group">
      <div class="card" *ngFor="let forecast of weatherInfo.forecasts">
        <h5 class="card-title">{{forecast.day}}</h5>
        <h6>{{forecast.text}}</h6>
        <h6>Low: {{forecast.low}}</h6>
        <h6>High: {{forecast.high}}</h6>
      </div>
    </div>
  </div>
</div>

  

