

   <label for="zip">Enter Zip:</label><br/>
   <input type = "text" name = "zip" id="Userzip" placeholder = "Enter zip"> 

   <button (click)="weatherFunction()"id="weatherButton" type="button">Submit Zip!</button>

   

<br>
      <ul>
        <!-- <li>City: {{weatherInfo.location}}</li>
        <li>State: {{weatherInfo.State}}</li>
        <li>Weather: {{weatherInfo.Weather}}</li>
        <li>Temp(Fahrenheit): {{weatherInfo.TempF}}</li>
        <li>Temp(Celsius): {{weatherInfo.TempC}}</li> -->

      </ul>

  

