<html>
  <body>
    <div class="container">
      <h1>Plant Information</h1>

      <input
        type="text"
        id="userInput"
        (input)="filterPlants()"
        placeholder="Search for latin names.."
      />

      <table id="myTable" class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Latin</th>
            <th>Family</th>
            <th>Origin</th>
            <th>Common Names</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="plantCursor"
            *ngFor="let plantdata of allPlants"
            [routerLink]="['/plantinfodetails/' + plantdata.id]"
          >
            <td>{{ plantdata.id }}</td>
            <td>{{ plantdata.latin }}</td>
            <td>{{ plantdata.family }}</td>
            <td>{{ plantdata.origin }}</td>
            <td><div *ngFor="let name of plantdata.common">{{name}}</div></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
