<div *ngIf="plant">
  <table id="onePlantData" class="table align-middle table-bordered">
    <tbody>
    <tr>
      <td>ID</td>
      <td>{{ plant.id }}</td>
    </tr>
    <tr>
      <td>Latin Name</td>
      <td>{{ plant.latin }}</td>
    </tr>
    <tr>
      <td>Family</td>
      <td>{{ plant.family }}</td>
    </tr>
    <tr>
      <td>Common Names</td>
      <td>
        <div *ngFor="let item of plant.common">{{ item }}</div>
      </td>
    </tr>
    <tr>
      <td>Category</td>
      <td>{{ plant.category }}</td>
    </tr>
    <tr>
      <td>Origin</td>
      <td>{{ plant.origin }}</td>
    </tr>
    <tr>
      <td>Climate</td>
      <td>{{ plant.climate }}</td>
    </tr>
    <tr>
      <td>Max Temperature</td>
      <td>
        <div>{{ plant.tempmax.celsius }} <span>&#176;</span>C</div>
        <div>{{ plant.tempmax.fahrenheit }} <span>&#176;</span>F</div>
      </td>
    </tr>
    <tr>
      <td>Min Temperature</td>
      <td>
        <div>{{ plant.tempmin.celsius }} <span>&#176;</span>C</div>
        <div>{{ plant.tempmin.fahrenheit }} <span>&#176;</span>F</div>
      </td>
    </tr>
    <tr>
      <td>Ideal Light</td>
      <td>{{ plant.ideallight }}</td>
    </tr>
    <tr>
      <td>Tolerated Light</td>
      <td>{{ plant.toleratedlight }}</td>
    </tr>
    <tr>
      <td>Watering</td>
      <td>{{ plant.watering }}</td>
    </tr>
    <tr>
      <td>Insects</td>
      <td>
        <div *ngFor="let item of plant.insects">
          {{ item }}
        </div>
      </td>
    </tr>
    <tr>
      <td>Diseases</td>
      <td>
        <div *ngFor="let item of plant.diseases">
          {{ item }}
        </div>
      </td>
    </tr>
    <tr>
      <td>Use</td>
      <td>
        <div *ngFor="let item of plant.use">
          {{ item }}
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div>
    <button [routerLink]="['/plantinfo/']">Back</button>
  </div>
</div>
